[Unit]
Description=Gunicorn instance to serve SpendWeb spendingBot
After=network.target

[Service]
User=root
WorkingDirectory=/home/spendingBot/WebApp
ExecStart=/home/spendingBot/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 SpendWeb.wsgi:application

[Install]
WantedBy=multi-user.target